<div><%= $game.player_two.name %> attacked <%= $game.player_one.name %></div>
<div><%= $game.player_one.name %> now has <%= $game.player_one.hitpoints %>hp</div>
<% if $game.won? %>
<h2><%= $game.winner.name %> wins!</h2>
<% else %>
<form action="/play" method="get">
  <input type="submit" name="ok" value="Ok">
</form>
<% end %>
